<h3 mat-dialog-title class="form-title">
  {{ mode === 'edit' ? 'Edit Client' : mode === 'view' ? 'View Client' : 'Add New Client' }}
</h3>

<form [formGroup]="clientForm" (ngSubmit)="submit()" mat-dialog-content class="form-wrapper">
  <div *ngFor="let field of fieldSchema" class="form-group">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ field.label }}</mat-label>
      <input
        matInput
        [type]="field.type"
        [formControlName]="field.key"
        [disabled]="!!clientForm.get(field.key)?.disabled"
      />
      <mat-error *ngIf="clientForm.get(field.key)?.hasError('required')">
        {{ field.label }} is required
      </mat-error>
    </mat-form-field>
  </div>
</form>

<mat-dialog-actions align="end" *ngIf="!readonly" class="dialog-actions">
  <button mat-stroked-button color="warn" (click)="cancel()">Cancel</button>
  <button mat-flat-button color="primary" (click)="submit()" [disabled]="clientForm.invalid">
    {{ mode === 'edit' ? 'Update' : 'Add' }}
  </button>
</mat-dialog-actions>

<mat-dialog-actions align="end" *ngIf="readonly" class="dialog-actions">
  <button mat-flat-button mat-dialog-close color="primary">Close</button>
</mat-dialog-actions>
